{% extends "layout.html" %}
{% block content %}
    {% for password in passwords.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="text-muted float-left mr-2">Właściciel: </a>
                    <a class="mr-2" href="{{ url_for('users.user_account', username=password.owner.username) }}">{{ password.owner.username }}</a>
                    <small class="text-muted float-right">Ostatnia modyfikacja: {{ password.date_modified.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('service_passwords.password', password_id=password.id) }}">{{ password.service_name }}</a></h2>
            </div>
        </article>
    {% endfor %}
    {% for page_num in passwords.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if passwords.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.my_passwords', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.my_passwords', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}