{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_account', username=password.owner.username) }}">{{ password.owner.username }}</a>
                <small class="text-muted">{{ password.date_modified.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <h2 class="article-title">{{ password.service_name }}</h2>
            <p class="article-content">Hasło: {{ decrypted }}</p>
            <h5 class="article-title">Udostępnione użytkownikom:</h5>
	    <div class="container">
		{% for with_user in password.users_shared %}
		     <div class="row mb-2">
			<div class="col-sm"><li>{{ with_user.username }}</li></div>
			<div class="col-sm">
				{% if password.owner == current_user %}
					<a class="btn btn-danger btn-sm float-right" href="{{ url_for('service_passwords.delete_with_user_password', password_id=password.id, username=with_user.username) }}">Usuń udostępnienie</a>
				{% endif %}
			</div>
			</div>
		{% endfor %}
	    </div>
	    {% if password.owner == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('service_passwords.update_password', password_id=password.id) }}">Zaktualizuj</a>
                    <a class="btn btn-warning btn-sm mt-1 mb-1 ml-1" href="{{ url_for('service_passwords.share_password', password_id=password.id) }}">Udostępnij</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
                </div>
            {% endif %}
        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Usunąć hasło?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <form action="{{ url_for('service_passwords.delete_password', password_id=password.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Usuń">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}